/*
 * Device Tree Source for the CETiBOX X3 (H3ULCB, R-Car Starter Kit Premier board),
 *  Variant: Gateway Expansion Board V2
 *
 * Copyright (C) 2017 Cetitec GmbH
 * Copyright (C) 2016-2017 Renesas Electronics Corp.
 * Copyright (C) 2016 Cogent Embedded, Inc.
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/dts-v1/;
#include "r8a7795.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "CETiBOX X3 (GWEB V2) based on Renesas H3ULCB (r8a7795)";
	compatible = "cetitec,h3-gweb-v1", "renesas,h3ulcb", "renesas,r8a7795";

	aliases {
		serial0 = &scif2;
		ethernet0 = &avb;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0x38000000>;
	};

	memory@600000000 {
		device_type = "memory";
		reg = <0x6 0x00000000 0x0 0x40000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* device specific region for Lossy Decompression */
		lossy_decompress: linux,lossy_decompress {
			no-map;
			reg = <0x00000000 0x54000000 0x0 0x03000000>;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x58000000 0x0 0x18000000>;
			linux,cma-default;
		};

		/* device specific region for contiguous allocations */
		mmp_reserved: linux,multimedia {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x70000000 0x0 0x10000000>;
		};
	};

	mmngr {
		compatible = "renesas,mmngr";
		memory-region = <&mmp_reserved>, <&lossy_decompress>;
	};

	mmngrbuf {
		compatible = "renesas,mmngrbuf";
	};

	leds {
		compatible = "gpio-leds";

		led5 {
			gpios = <&gpio6 12 GPIO_ACTIVE_HIGH>;
		};
		led6 {
			gpios = <&gpio6 13 GPIO_ACTIVE_HIGH>;
		};
	};

	keyboard {
		compatible = "gpio-keys";

		key-1 {
			linux,code = <KEY_1>;
			label = "SW3";
			wakeup-source;
			debounce-interval = <20>;
			gpios = <&gpio6 11 GPIO_ACTIVE_LOW>;
		};

		key-pwr {
			linux,code = <KEY_POWER>;
			label = "POWER";
			gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
		};
	};

	reg_1p8v: regulator0 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator1 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vcc_sdhi0: regulator-vcc-sdhi0 {
		compatible = "regulator-fixed";

		regulator-name = "SDHI0 Vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&gpio5 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vccq_sdhi0: regulator-vccq-sdhi0 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI0 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;
		states = <3300000 1
			  1800000 0>;
	};

	x12_clk: x12 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24576000>;
	};

	x23_clk: x23-clock {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <25000000>;
	};

	audio_clkout: audio-clkout {
		/*
		 * This is same as <&rcar_sound 0>
		 * but needed to avoid cs2000/rcar_sound probe dead-lock
		 */
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <11289600>;
	};

	rsnd_ak4613: sound {
		compatible = "simple-audio-card";

		simple-audio-card,format = "left_j";
		simple-audio-card,bitclock-master = <&sndcpu>;
		simple-audio-card,frame-master = <&sndcpu>;

		sndcpu: simple-audio-card,cpu {
			sound-dai = <&rcar_sound>;
		};

		sndcodec: simple-audio-card,codec {
			sound-dai = <&ak4613>;
		};
	};

	vspm_if {
		compatible = "renesas,vspm_if";
	};

	versaclock5_out3: versaclk-3 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* Initial value of versaclock out3 */
		clock-frequency = <33000000>;
	};

	versaclock5_out4: versaclk-3 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* Initial value of versaclock out4 */
		clock-frequency = <33000000>;
	};

	hdmi0-out {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi0_con: endpoint {
				remote-endpoint = <&rcar_dw_hdmi0_out>;
			};
		};
	};

	hdmi1-out {
		 compatible = "hdmi-connector";
		 type = "a";

		 port {
			hdmi1_con: endpoint {
				remote-endpoint = <&rcar_dw_hdmi1_out>;
			};
		};
	};

	cetibox-power {
		status = "okay";
		compatible = "cetitec,cetibox-poweroff";
		wakecpld = <&i2c5 0x3C>; /* i2c bus, i2c addr */
		wakecpld-config = <&i2c1 0x60>; /* i2c bus, i2c addr */
	};
};

&extal_clk {
	clock-frequency = <16666666>;
};

&extalr_clk {
	clock-frequency = <32768>;
};

&a57_0 {
	cpu-supply = <&vdd_dvfs>;
};

&pfc {
	pinctrl-0 = <&scif_clk_pins>;
	pinctrl-names = "default";

	scif2_pins: scif2 {
		groups = "scif2_data_a";
		function = "scif2";
	};

	scif_clk_pins: scif_clk {
		groups = "scif_clk_a";
		function = "scif_clk";
	};

	i2c1_pins: i2c1 {
		groups = "i2c1_b";
		function = "i2c1";
	};

	i2c2_pins: i2c2 {
		groups = "i2c2_a";
		function = "i2c2";
	};

	avb_pins: avb {
		groups = "avb_mdc";
		function = "avb";
	};

	sdhi0_pins: sd0 {
		groups = "sdhi0_data4", "sdhi0_ctrl";
		function = "sdhi0";
		power-source = <3300>;
	};

	sdhi0_pins_uhs: sd0_uhs {
		groups = "sdhi0_data4", "sdhi0_ctrl";
		function = "sdhi0";
		power-source = <1800>;
	};

	sdhi2_pins: sd2 {
		groups = "sdhi2_data8", "sdhi2_ctrl";
		function = "sdhi2";
		power-source = <3300>;
	};

	sdhi2_pins_uhs: sd2_uhs {
		groups = "sdhi2_data8", "sdhi2_ctrl";
		function = "sdhi2";
		power-source = <1800>;
	};

	msiof0_pins: spi1 {
		groups = "msiof0_clk", "msiof0_sync",
				"msiof0_rxd", "msiof0_txd";
		function = "msiof0";
	};

	msiof1_pins: spi2 {
		groups = "msiof1_clk_a", "msiof1_sync_a",
				"msiof1_rxd_a",  "msiof1_txd_a";
		function = "msiof1";
	};

	sound_pins: sound {
		groups = "ssi01239_ctrl", "ssi0_data", "ssi1_data_a";
		function = "ssi";
	};

	sound_clk_pins: sound-clk {
		groups = "audio_clk_a_a", "audio_clk_b_a", "audio_clk_c_a",
			  "audio_clkout3_a";
		function = "audio_clk";
	};

	usb0_pins: usb0 {
		groups = "usb0";
		function = "usb0";
	};

	usb1_pins: usb1 {
		groups = "usb1";
		function = "usb1";
	};

	usb30_pins: usb30 {
		groups = "usb30";
		function = "usb30";
	};

	i2c5_pins: i2c5 {
		groups = "i2c5";
		function = "i2c5";
	};

	can0_pins: can0 {
		groups = "can0_data_a";
		function = "can0";
	};

	can1_pins: can1 {
		groups = "can1_data";
		function = "can1";
	};

	canfd0_pins: canfd0 {
		groups = "canfd0_data_a";
		function = "canfd0";
	};

	canfd1_pins: canfd1 {
		groups = "canfd1_data";
		function = "canfd1";
	};
};

&avb {
    pinctrl-0 = <&avb_pins>;
    pinctrl-names = "default";
    renesas,no-ether-link;
    phy-handle = <&phy0>;
    status = "okay";

    phy-mode = "rgmii";

    phy0: dummy_phy {
        compatible = "ethernet-phy-idFFFF.FFFE";
        reg = <0>;
		speed = <1000>;
    };

	phy1: ksz8041rnl {
		reg = <1>;
		speed = <100>;
	};

	phy2: ksz9031rnx {
		reg = <2>;
		speed = <1000>;
	};
};

&du {
	status = "okay";

	clocks = <&cpg CPG_MOD 724>,
			 <&cpg CPG_MOD 723>,
			 <&cpg CPG_MOD 722>,
			 <&cpg CPG_MOD 721>,
			 <&cpg CPG_MOD 727>,
			 <&versaclock5 1>,
			 <&versaclock5_out3>,
			 <&versaclock5_out4>,
			 <&versaclock5 2>;
	clock-names = "du.0", "du.1", "du.2", "du.3", "lvds.0",
				  "dclkin.0", "dclkin.1", "dclkin.2", "dclkin.3";

	ports {
		port@1 {
			endpoint {
				remote-endpoint = <&rcar_dw_hdmi0_in>;
			};
		};
		port@2 {
			endpoint {
				remote-endpoint = <&rcar_dw_hdmi1_in>;
			};
		};
	};
};

&hdmi0 {
	status = "disabled";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			rcar_dw_hdmi0_in: endpoint {
				remote-endpoint = <&du_out_hdmi0>;
			};
		};
		port@1 {
			reg = <1>;
			rcar_dw_hdmi0_out: endpoint {
				remote-endpoint = <&hdmi0_con>;
			};
		};
	};
};

&hdmi1 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			rcar_dw_hdmi1_in: endpoint {
				remote-endpoint = <&du_out_hdmi1>;
			};
		};
		port@1 {
			reg = <1>;
			rcar_dw_hdmi1_out: endpoint {
				remote-endpoint = <&hdmi1_con>;
			};
		};
	};
};

&sdhi0 {
	pinctrl-0 = <&sdhi0_pins>;
	pinctrl-1 = <&sdhi0_pins_uhs>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&vcc_sdhi0>;
	vqmmc-supply = <&vccq_sdhi0>;
	cd-gpios = <&gpio3 12 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	status = "okay";
};

&sdhi2 {
	/* used for on-board 8bit eMMC */
	pinctrl-0 = <&sdhi2_pins>;
	pinctrl-1 = <&sdhi2_pins_uhs>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&scif2 {
	pinctrl-0 = <&scif2_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&scif_clk {
	clock-frequency = <14745600>;
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-names = "default";

	status = "okay";

	clock-frequency = <100000>;

	ak4613: codec@10 {
		compatible = "asahi-kasei,ak4613";
		#sound-dai-cells = <0>;
		reg = <0x10>;
		clocks = <&rcar_sound 3>;

		asahi-kasei,in1-single-end;
		asahi-kasei,in2-single-end;
		asahi-kasei,out1-single-end;
		asahi-kasei,out2-single-end;
		asahi-kasei,out3-single-end;
		asahi-kasei,out4-single-end;
		asahi-kasei,out5-single-end;
		asahi-kasei,out6-single-end;
	};

	cs2000: clk-multiplier@4f {
		#clock-cells = <0>;
		compatible = "cirrus,cs2000-cp";
		reg = <0x4f>;
		clocks = <&audio_clkout>, <&x12_clk>;
		clock-names = "clk_in", "ref_clk";

		assigned-clocks = <&cs2000>;
		assigned-clock-rates = <24576000>; /* 1/1 divide */
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;
};

&i2c4 {
	status = "okay";
	clock-frequency = <400000>;

	versaclock5: clock-generator@6a {
		compatible = "idt,5p49v5925";
		reg = <0x6a>;
		#clock-cells = <1>;
		clocks = <&x23_clk>;
		clock-names = "xin";
	};
};

/* SM-Bus interface to the USB3.0 hub (Microchip USB5534B) on gateway board */
&i2c5 {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-0 = <&i2c5_pins>;
	pinctrl-names = "default";

	eeprom@50 {
		compatible = "microchip,24c16", "atmel,24c16";
		reg = <0x50>;
		pagesize = <16>;
	};
};

&rcar_sound {
	pinctrl-0 = <&sound_pins &sound_clk_pins>;
	pinctrl-names = "default";

	/* Single DAI */
	#sound-dai-cells = <0>;

	/* audio_clkout0/1/2/3 */
	#clock-cells = <1>;
	clock-frequency = <11289600>;
	clkout-lr-synchronous;

	status = "okay";

	/* update <audio_clk_b> to <cs2000> */
	clocks = <&cpg CPG_MOD 1005>,
		 <&cpg CPG_MOD 1006>, <&cpg CPG_MOD 1007>,
		 <&cpg CPG_MOD 1008>, <&cpg CPG_MOD 1009>,
		 <&cpg CPG_MOD 1010>, <&cpg CPG_MOD 1011>,
		 <&cpg CPG_MOD 1012>, <&cpg CPG_MOD 1013>,
		 <&cpg CPG_MOD 1014>, <&cpg CPG_MOD 1015>,
		 <&cpg CPG_MOD 1022>, <&cpg CPG_MOD 1023>,
		 <&cpg CPG_MOD 1024>, <&cpg CPG_MOD 1025>,
		 <&cpg CPG_MOD 1026>, <&cpg CPG_MOD 1027>,
		 <&cpg CPG_MOD 1028>, <&cpg CPG_MOD 1029>,
		 <&cpg CPG_MOD 1030>, <&cpg CPG_MOD 1031>,
		 <&cpg CPG_MOD 1020>, <&cpg CPG_MOD 1021>,
		 <&cpg CPG_MOD 1020>, <&cpg CPG_MOD 1021>,
		 <&cpg CPG_MOD 1019>, <&cpg CPG_MOD 1018>,
		 <&audio_clk_a>, <&cs2000>,
		 <&audio_clk_c>,
		 <&cpg CPG_CORE R8A7795_CLK_S0D4>;

	rcar_sound,dai {
		dai0 {
			playback = <&ssi0 &src0 &dvc0>;
			capture  = <&ssi1 &src1 &dvc1>;
		};
	};
};

&ssi1 {
	shared-pin;
};

&audio_clk_a {
	clock-frequency = <22579200>;
};

&i2c_dvfs {
	status = "okay";
	clock-frequency = <400000>;

	vdd_dvfs: regulator@30 {
		compatible = "rohm,bd9571mwv";
		reg = <0x30>;

		regulator-min-microvolt = <750000>;
		regulator-max-microvolt = <1030000>;
		regulator-boot-on;
		regulator-always-on;
	};
};

&wdt0 {
	timeout-sec = <60>;
	status = "okay";
};

&usb2_phy0 {
	pinctrl-0 = <&usb0_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&usb2_phy1 {
	pinctrl-0 = <&usb1_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&xhci0 {
	status = "okay";
};

&usb3_peri0 {
	status = "okay";
};

&msiof_ref_clk {
	clock-frequency = <66666666>;
};

/* The clock for the MCP2515. */
/ {
	can2_osc: can2_osc {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency  = <16000000>;
	};
};

&msiof0 {
	pinctrl-0 = <&msiof0_pins>;
	pinctrl-names = "default";
	status = "okay";

	num-cs = <1>;
	cs-gpios = <&gpio5 8 GPIO_ACTIVE_LOW>;

	/* The PiCAN board */
	can2: mcp2515@0 {
		compatible = "microchip,mcp2515";
		reg = <0>;
		spi-max-frequency = <10000000>;
		interrupt-parent = <&gpio5>;
		interrupts = <9 IRQ_TYPE_LEVEL_LOW>;
		clocks = <&can2_osc>;
	};
};

&msiof1 {
	pinctrl-0 = <&msiof1_pins>;
	pinctrl-names = "default";
	status = "okay";

	num-cs = <3>;
	cs-gpios = <&gpio6 5 GPIO_ACTIVE_LOW>, <&gpio6 6 GPIO_ACTIVE_LOW>, <&gpio2 1 GPIO_ACTIVE_LOW>;

	/* RH850 MCU (when used as SPI slave). */
	spidev@0 {
		compatible = "renesas,sh-msiof";
		reg = <0>;
		spi-max-frequency = <66666666>;
		spi-cpha;
		spi-cpol;
	};

	/* Ethernet switch 1, configured by userspace. */
	spidev@1 {
		compatible = "nxp,sja1105";
		reg = <1>;
		spi-max-frequency = <66666666>;
		spi-cpha;
		renesas,dtdl = <200>;
		renesas,syncdl = <300>;

		phy-handles = <&phy1 1>, <&phy2 4>;
		phy-modes = "rmii", "rgmii";
	};

	/* Ethernet switch 2, configured by userspace. */
	spidev@2 {
		compatible = "nxp,sja1105";
		reg = <2>;
		spi-max-frequency = <66666666>;
		spi-cpha;
		renesas,dtdl = <200>;
		renesas,syncdl = <300>;
	};
};

&vspbc {
	status = "okay";
};

&vspbd {
	status = "okay";
};

&vspi0 {
	status = "okay";
};

&vspi1 {
	status = "okay";
};

/*
 * CAN (classic) controller currently disabled in favor of CAN-FD controller
 * which is able to receive both base and extended CAN frame format, while
 * this controller can do only one format at a time.
 */
&can0 {
	pinctrl-0 = <&can0_pins>;
	pinctrl-names = "default";
	status = "disabled";

	renesas,can-clock-select = <0x0>;
	gpios = <&gpio5 3 GPIO_ACTIVE_HIGH /* enable - shared with camera board */
		 &gpio5 25 GPIO_ACTIVE_LOW /* standby */
		>;
};

&can1 {
	pinctrl-0 = <&can1_pins>;
	pinctrl-names = "default";
	status = "disabled";

	renesas,can-clock-select = <0x0>;
	gpios = <&gpio6 16 GPIO_ACTIVE_HIGH /* enable - shared with camera board */
		 &gpio1 8 GPIO_ACTIVE_LOW /* standby */
		>;
};

&canfd {
	pinctrl-0 = <&canfd0_pins &canfd1_pins>;
	pinctrl-names = "default";
	status = "okay";

	renesas,can-clock-select = <0x0>;
	renesas,tss-tsp = <128>; /* Set timestamp divider to 128 */

	gpios = <&gpio5 13 GPIO_ACTIVE_HIGH /* enable */
		&gpio5 14 GPIO_ACTIVE_LOW /* standby */
		>;

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};
};

&pwm2 {
	status = "okay";
};

//Set dangeling testpoint-gpios to something:

&gpio0 {
//connected to starterkit mode setting CPLD (ExD0, LBSD_D)
//    tp74 {
//        gpio-hog;  
//        gpios = <0 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit mode setting CPLD (ExD3, LBSD_D)
//    tp75 {
//        gpio-hog;  
//        gpios = <3 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit mode setting CPLD (ExD4, LBSD_D)
//    tp72 {
//        gpio-hog;  
//        gpios = <4 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit mode setting CPLD (ExD5, LBSD_D)
//    tp73 {
//        gpio-hog;  
//        gpios = <5 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
};

&gpio1 {
//pull down on starterkit BKUP_REQB
//    tp40 {
//        gpio-hog;  
//        gpios = <9 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to Mode Setting CPLD CS0n
//    tp98 {
//        gpio-hog;  
//        gpios = <20 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to LBSC/DU CS1n/A26
    tp102 {
        gpio-hog;  
        gpios = <21 GPIO_ACTIVE_HIGH>;
        output-low;
    };
//connected to LBSC/DU WE0n/GP1_25/CAN_CLK 
    tp97 {
        gpio-hog;  
        gpios = <25 GPIO_ACTIVE_HIGH>;
        output-low;
    };
};

&gpio2 {
//connected to starterkit PMIC INT_B GP2_00/IRQ0n
//    tp100 {
//        gpio-hog;  
//        gpios = <0 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit mode setting CPLD ExA25/PWM4
//    tp101 {
//        gpio-hog;  
//        gpios = <3 GPIO_ACTIVE_HIGH>;
//        output-high;
//    };
//connected to starterkit mode setting CPLD & PMIC PWM2
//    tp62 {
//        gpio-hog;  
//        gpios = <8 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
};

&gpio3 {
//connected to starterkit SDHI0 SD0_CD Note: "SD0_WP"and "SD0_CD" D3.3V signal is fixed at 3.3V.
//    tp83 {
//        gpio-hog;  
//        gpios = <12 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit SDHI0 SD0_WP "Note: "SD0_WP"and "SD0_CD" D3.3V signal is fixed at 3.3V."
//    tp85 {
//        gpio-hog;  
//        gpios = <13 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit PMIC & SDHI_PW SCL0/SD3_VL
//    tp80 {
//        gpio-hog;  
//        gpios = <14 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit SDHI_PW SDA0/SD3_PWEN
//    tp70 {
//        gpio-hog;  
//        gpios = <15 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
};

&gpio4 {
//connected to starterkit GPIO_Unused GP4_14 and pulled down.
//    tp78 {
//        gpio-hog;  
//        gpios = <14 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit SDHI3 SD3_CD_V "Note: "SD3_WP"and "SD3_CD" signal changes to 1.8V and 3.3V by the voltage supplied to the VDDQVA_SD3."
    tp86 {
        gpio-hog;  
        gpios = <15 GPIO_ACTIVE_HIGH>;
        output-low;
    };
//connected to starterkit SDHI3 SD3_WP_V "Note: "SD3_WP"and "SD3_CD" signal changes to 1.8V and 3.3V by the voltage supplied to the VDDQVA_SD3."
    tp87 {
        gpio-hog;  
        gpios = <16 GPIO_ACTIVE_HIGH>;
        output-low;
    };
//connected to starterkit GPIO_Unused SD3_PWR_EN and pulled down.
//    tp99 {
//        gpio-hog;  
//        gpios = <17 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
};

&gpio5 {
//connected to starterkit Audio Clock & I2C SCIF0_SCK/I2C2_SDA
//    tp96 {
//        gpio-hog;  
//        gpios = <0 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to PMIC & SDHI_PW SCIF0_RX/SD0_VL
//    tp63 {
//        gpio-hog;  
//        gpios = <1 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit SDHI_PW SCIF0_TX/SD0_PWEN and pulled up.
//    tp94 {
//        gpio-hog;  
//        gpios = <2 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to rcar scif2_txd (debug uart)
//    tp103 {
//        gpio-hog;  
//        gpios = <10 GPIO_ACTIVE_HIGH>;
//        output-high;
//    };
//connected to rcar scif2_rxd (debug uart)
//    tp93 {
//        gpio-hog;  
//        gpios = <11 GPIO_ACTIVE_HIGH>;
//        output-high;
//    };
//connected to starterkit SRU HSCIF0_HSCK (probably connected to AUDIO_CLKB)
//    tp89 {
//        gpio-hog;  
//        gpios = <12 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit SRU (Audio) MSIOF0_SS1 (probably connected to AUDIO_CLKOUT3)
//    tp88 {
//        gpio-hog;  
//        gpios = <19 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
};

&gpio6 {
//connected to starterkit mode setting CPLD & SSI MSIOF1_SYNC/SSI_WS4
//    tp95 {
//        gpio-hog;  
//        gpios = <9 GPIO_ACTIVE_HIGH>;
//        output-high;
//    };
//connected to starterkit SRU GP6_22 (probably connected to AUDIO_CLKA)
//    tp92 {
//        gpio-hog;  
//        gpios = <22 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit USB USB20_OVC should be fixed. Fixes Bug with USB-Overcurrent.
    tp28 {
        gpio-hog;  
        gpios = <25 GPIO_ACTIVE_HIGH>;
        output-low;
    };
//connected to starterkit USB USB31_PWEN
    tp67 {
        gpio-hog;  
        gpios = <30 GPIO_ACTIVE_HIGH>;
        output-low;
    };
//connected to starterkit USB USB31_OVC
    tp69 {
        gpio-hog;  
        gpios = <31 GPIO_ACTIVE_HIGH>;
        output-low;
    };
};

&gpio7 {
//connected to starterkit AVS & PMIC AVS1/GP7_00/PMIC
//    tp66 {
//        gpio-hog;  
//        gpios = <0 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
//connected to starterkit AVS & PMIC AVS2/GP7_01/PMIC 
//    tp64 {
//        gpio-hog;  
//        gpios = <1 GPIO_ACTIVE_HIGH>;
//        output-low;
//    };
};
